/* Font*/

@font-face {
    font-family: 'Diablo Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Diablo Heavy'), url('../fonts/diablo.woff') format('woff');
    }

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Diablo Heavy';
    background-color: #1A1A1A;
}

/* Bootstrap Navigation Bar */

.navbar{
background-color: black !important;
}

.dropdown-menu{
background-color: black !important;
text-align: center;
}

.nav-item{
    background-color: transparent !important;
    text-align: center;
}
.nav-item a{
    color: #826939 !important;
}

.brand{
    height: 75px;
    width: 160px;
}

/* Inner Containers*/

.header{
    height: 108px;
}

.body{
    margin-bottom: 108px;
    display: grid;
    color: #826939;
}

.form{
    align-content: center !important;
}

.formcenter{
    margin-top: 40px !important;
}

footer{
    background-color: black !important;
    color: #826939 !important;
}

footer img{
    height: 25px;
}

/* Lightbox */

.gallery{
    margin: 15px;
}

.gallery img{
    transition: 1s;
    padding: 15px;
}

.gallery img:hover{
filter: grayscale(100%);
transform: scale(1.1);
}

/* .description h3{
    font-weight: bolder;
}

.description p{
    
} */

@media screen and (max-width: 425px) {
    /* .navbar-brand{
        position: center;
    } */
    }
    
}

@media screen and (min-width: 320px) {
    /* .navbar-brand{
        position: center;
    } */
    
}

@media screen and (min-width: 576px) {
        /* .description {
            margin: 30px;
        } */
        .formcenter{
            margin: auto;
            width: 45%;
        }
}